.App {
  text-align: center;
}

.top{
  border: 2px solid black;
  border-radius: 10px;
}
.topInner{
  padding: 20px;
}
.side1{
  text-align: justify;
}
.box1 h1 {
font-size: 18px;
color: red;
}
.box1 h2{
  background-color: tomato;
  border-radius: 15px;
  color: white;
  padding-bottom: 5px;
}

.box1 span {
  background-color: rgb(103, 103, 221);
  color: white;
  padding: 10px;
  font-size: 10px;
  border-radius: 50%;
}
.box2 h3{
  background-color: rgb(31, 16, 124);
  color: white;
}
.box4{
  color: green;
  font-size: 18px;

}
.box6 .col-lg-2, .box6 .col-lg-4{
  border: .5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}